.navLink {
  background-color: black;
  ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    height: 4rem;
    color: silver;
    font-size: 1.5rem;
    li {
      list-style-type: none;
      margin: 0 1rem;
    }
  }
}
